In this notebook, I will write a function that tells whether a wrestler has seven wins in the current tournament.

First, we'll make a pandas dataframe.

In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

#Add the path to the folder that contains the data. Makes it easier for each of us to use the notebook
path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/data/"
#path = "/Users/es/Projects/erdo/sumo/Erdos-Institute-Fall-2024-Project-Sumo/data/"

df1983 = pd.read_csv(path+str(1983)+'.csv')
df1984 = pd.read_csv(path+str(1984)+'.csv')

df = df1983
for year in range(1984,2020):
    year = str(year)
    dfyear = pd.read_csv(path+year+'.csv')
    df = pd.concat([df, dfyear], axis=0, ignore_index=True)

In [2]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0

Now let's extract the number of wins.

In [3]:
# Define the function to calculate wins
def calculate_wins(result):
    # Initialize wins with None
    wins = None
    
    # Ensure result has at least three elements for safe indexing
    if len(result) < 3:
        return wins

    # Check if the result starts with '(' and matches other conditions
    if result[0] == '(':
        if result[2] != '-':
            wins = result[1] + result[2]  # Concatenate first and second characters if second character is '0'
        elif result[1].isdigit() and int(result[1]) < 10:
            wins = result[1]  # If result[1] is a single digit, assign it to wins as an integer

    # Check alternative conditions if not wrapped in parentheses
    elif result[1] != '-':
        wins = result[0] + result[1]
    elif result[0].isdigit() and int(result[0]) < 10:
        wins = int(result[0])

    return wins

# Apply the function to each row in 'rikishi1_result' and create the new column
df['rikishi1_wins_in_tournament'] = df['rikishi1_result'].apply(calculate_wins)
df['rikishi2_wins_in_tournament'] = df['rikishi2_result'].apply(calculate_wins)

In [4]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_wins_in_tournament,rikishi2_wins_in_tournament
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,0,1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,1,0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1,0
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,0,1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0,12,8
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0,10,6
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1,6,10
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1,12,12
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,12,12

This seems to work! Thank you chatgpt! Note that entries in the new column are integers, not strings.

How many wins do wrestlers have on a given day of the current tournament?

In [5]:
day_14_df = df[df['day'] == 14] #Just show the rows for matches on Day 14 of tournaments.
day_14_df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_wins_in_tournament,rikishi2_wins_in_tournament
802,802,1983.01,14,4097,J12e,Tamakiyama,7-7 (8-7),1,oshidashi,4129,J11e,Hakuryuyama,3-11 (3-12),0,7,3
803,803,1983.01,14,4129,J11e,Hakuryuyama,3-11 (3-12),0,oshidashi,4097,J12e,Tamakiyama,7-7 (8-7),1,3,7
804,804,1983.01,14,1317,Ms2w,Hananokuni,4-3,1,yorikiri,4319,J11w,Harunafuji,5-9 (5-10),0,4,5
805,805,1983.01,14,4319,J11w,Harunafuji,5-9 (5-10),0,yorikiri,1317,Ms2w,Hananokuni,4-3,1,5,4
806,806,1983.01,14,4111,J10e,Zaonishiki,4-10 (4-11),0,oshidashi,4140,J13w,Chikubayama,6-8 (7-8),1,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214719,4921,2019.09,14,12191,S1w,Takakeisho,11-3 (12-3),1,oshidashi,6594,M5w,Ryuden,6-8 (7-8),0,11,6
214720,4922,2019.09,14,6468,O1w,Goeido,9-5 (10-5),0,tsukiotoshi,12210,S1e,Mitakeumi,11-3 (12-3),1,9,11
214721,4923,2019.09,14,12210,S1e,Mitakeumi,11-3 (12-3),1,tsukiotoshi,6468,O1w,Goeido,9-5 (10-5),0,11,9
214722,4924,2019.09,14,6599,O2e,Tochinoshin,6-8 (6-9),0,yorikiri,11784,M6w,Myogiryu,7-5-2 (8-5-2),1,6,7
214723,4925,2019.09,14,11784,M6w,Myogiryu,7-5-2 (8-5-2),1,yorikiri,6599,O2e,Tochinoshin,6-8 (6-9),0,7,6

Now let's add a column. This column will have None in every entry. We'll change it later.

In [6]:
def rikishi1_penultimate_day_7_wins(result):
    answer = None
    return answer

df['rikishi1_penultimate_day_7_wins'] = df['rikishi1_wins_in_tournament'].apply(rikishi1_penultimate_day_7_wins)

df['rikishi2_penultimate_day_7_wins'] = None

In [7]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_wins_in_tournament,rikishi2_wins_in_tournament,rikishi1_penultimate_day_7_wins,rikishi2_penultimate_day_7_wins
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,0,1,None,None
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,1,0,None,None
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1,0,None,None
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,0,1,None,None
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,0,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0,12,8,None,None
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0,10,6,None,None
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1,6,10,None,None
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1,12,12,None,None
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,12,12,None,None

If it's day 14 of a tournament, replace None with either True or False depending on whether rikishi1 has 7 wins or not.

In [8]:
for i in range(df.shape[0]):
    if df['day'][i] == 14:
        if df['rikishi1_wins_in_tournament'][i] == 7:
            df.loc[i,'rikishi1_penultimate_day_7_wins'] = True
        if df['rikishi1_wins_in_tournament'][i] != 7:
            df.loc[i,'rikishi1_penultimate_day_7_wins'] = False

        if df['rikishi2_wins_in_tournament'][i] == 7:
            df.loc[i,'rikishi2_penultimate_day_7_wins'] = True
        if df['rikishi2_wins_in_tournament'][i] != 7:
            df.loc[i,'rikishi2_penultimate_day_7_wins'] = False

In [9]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_wins_in_tournament,rikishi2_wins_in_tournament,rikishi1_penultimate_day_7_wins,rikishi2_penultimate_day_7_wins
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,0,1,None,None
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,1,0,None,None
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1,0,None,None
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,0,1,None,None
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,0,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0,12,8,None,None
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0,10,6,None,None
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1,6,10,None,None
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1,12,12,None,None
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,12,12,None,None

Quick sanity check: let's look at all the day 14 rows. If it's the penultimate day, we should always get True or False, otherwise we should get None.

In [10]:
day_14_df = df[df['day'] == 14]
day_14_df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_wins_in_tournament,rikishi2_wins_in_tournament,rikishi1_penultimate_day_7_wins,rikishi2_penultimate_day_7_wins
802,802,1983.01,14,4097,J12e,Tamakiyama,7-7 (8-7),1,oshidashi,4129,J11e,Hakuryuyama,3-11 (3-12),0,7,3,True,False
803,803,1983.01,14,4129,J11e,Hakuryuyama,3-11 (3-12),0,oshidashi,4097,J12e,Tamakiyama,7-7 (8-7),1,3,7,False,True
804,804,1983.01,14,1317,Ms2w,Hananokuni,4-3,1,yorikiri,4319,J11w,Harunafuji,5-9 (5-10),0,4,5,False,False
805,805,1983.01,14,4319,J11w,Harunafuji,5-9 (5-10),0,yorikiri,1317,Ms2w,Hananokuni,4-3,1,5,4,False,False
806,806,1983.01,14,4111,J10e,Zaonishiki,4-10 (4-11),0,oshidashi,4140,J13w,Chikubayama,6-8 (7-8),1,4,6,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214719,4921,2019.09,14,12191,S1w,Takakeisho,11-3 (12-3),1,oshidashi,6594,M5w,Ryuden,6-8 (7-8),0,11,6,False,False
214720,4922,2019.09,14,6468,O1w,Goeido,9-5 (10-5),0,tsukiotoshi,12210,S1e,Mitakeumi,11-3 (12-3),1,9,11,False,False
214721,4923,2019.09,14,12210,S1e,Mitakeumi,11-3 (12-3),1,tsukiotoshi,6468,O1w,Goeido,9-5 (10-5),0,11,9,False,False
214722,4924,2019.09,14,6599,O2e,Tochinoshin,6-8 (6-9),0,yorikiri,11784,M6w,Myogiryu,7-5-2 (8-5-2),1,6,7,False,True
214723,4925,2019.09,14,11784,M6w,Myogiryu,7-5-2 (8-5-2),1,yorikiri,6599,O2e,Tochinoshin,6-8 (6-9),0,7,6,True,False

Hey, this looks like it's working! Now we should rearrange the columns.

In [11]:
features = df.columns
features

Index(['index', 'basho', 'day', 'rikishi1_id', 'rikishi1_rank',
       'rikishi1_shikona', 'rikishi1_result', 'rikishi1_win', 'kimarite',
       'rikishi2_id', 'rikishi2_rank', 'rikishi2_shikona', 'rikishi2_result',
       'rikishi2_win', 'rikishi1_wins_in_tournament',
       'rikishi2_wins_in_tournament', 'rikishi1_penultimate_day_7_wins',
       'rikishi2_penultimate_day_7_wins'],
      dtype='object')

In [12]:
new_order = ['index', 'basho', 'day', 'rikishi1_id', 'rikishi1_rank',
       'rikishi1_shikona', 'rikishi1_result', 'rikishi1_win', 'rikishi1_wins_in_tournament', 
       'rikishi1_penultimate_day_7_wins', 'kimarite',
       'rikishi2_id', 'rikishi2_rank', 'rikishi2_shikona', 'rikishi2_result',
       'rikishi2_win', 'rikishi2_wins_in_tournament', 'rikishi2_penultimate_day_7_wins']
df = df[new_order]

In [13]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,rikishi1_wins_in_tournament,rikishi1_penultimate_day_7_wins,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi2_wins_in_tournament,rikishi2_penultimate_day_7_wins
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,0,None,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,1,None
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,1,None,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,0,None
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,1,None,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,0,None
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,0,None,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,1,None
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,0,None,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,12,None,yorikiri,12055,K1w,Endo,8-7,0,8,None
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,10,None,yorikiri,6599,O2e,Tochinoshin,6-9,0,6,None
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,6,None,yorikiri,6468,O1w,Goeido,10-5,1,10,None
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,12,None,yorikiri,12210,S1e,Mitakeumi,(12-3),1,12,None
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,12,None,yorikiri,12191,S1w,Takakeisho,(12-3),0,12,None