First, we'll make a pandas dataframe.

We can concatenate to include all of the years of data that we have.

In [8]:
import pandas as pd
#Add the path to the folder that contains the data. Makes it easier for each of use to use the notebook
#path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/"
path = "/Users/es/Projects/erdo/sumo/Erdos-Institute-Fall-2024-Project-Sumo/data/"

df = [

Let's concatenate.

In [9]:
df = pd.read_csv(path+year+'.csv')
for year in range(1984,2020):
    year = str(year)
    dfyear = pd.read_csv(path+year+'.csv')
    df = pd.concat([df, dfyear], axis=0, ignore_index=True)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [4]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0

Note that rikishi1_rank tells us the ranking of each wrestler according to the standar sumo ranking system. I would like to add a column to this data frame describing the "non-sumo" ranking. So, the best wrestler is ranked 1, etc. I think the only (?) way to do this is to work with the strings in the rikishi1_rank column. The first letter tells us the general group that each wrestler is in, so let's first pick out all the ones in the top group, i.e. the group that begins with M.

I'm just testing this.

In [5]:

df['rikishi1_rank'][3][0]

'J'

When I run this next cell, something is wrong with M_sorted_dict: all the keys are the same! But M_ranking_dict is just fine. What am I doing wrong?

In [6]:
M_ranking_list = [] # This list will contain the indices of the wrestler's whose ranking begins with M (and isn't followed by an s).
for index in range(214779):
    if df['rikishi1_rank'][index][0] == 'M':
        if df['rikishi1_rank'][index][1] != 's':
            M_ranking_list.append(index)

M_ranking_dict = {} # We can use the list we just made to make a dictionary where the keys are the indices and the values are the sumo rankings. 
for i in M_ranking_list:
    M_ranking_dict[i] = df['rikishi1_rank'][i]

M_sorted_dict = dict(sorted(M_ranking_dict.items(), key=lambda item: item[1])) # Now I'd like to sort this dictionary by its values.
# Alas, something is wrong. After I run this, the keys in M_sorted_dict are all the same!

Once I figure this out, I'm going to have to (1) do this for the other rankings like J, Ms, etc. and then put each of those in order and (2) go back to the pre-concatenated data frames and add these rankings to each one.

Perhaps we can forget all of this. Is there a nicer way of adding a "non-sumo" rankings column?