In this notebook, I will write a function that gives the number of years that a wrestler has been participating in tournaments since 1983. This is a sort of proxy for age. Note that for players that were wrestling before 1983 this feature will not describe how long they have been in sumo tournaments, as our data begind in 1983.

First, we'll make a pandas dataframe.

In [1]:
import pandas as pd
import numpy as np
import re

#Add the path to the folder that contains the data. Makes it easier for each of us to use the notebook
path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/data/"
#path = "/Users/es/Projects/erdo/sumo/Erdos-Institute-Fall-2024-Project-Sumo/data/"

df1983 = pd.read_csv(path+str(1983)+'.csv')
df1984 = pd.read_csv(path+str(1984)+'.csv')

df = df1983
for year in range(1984,2020):
    year = str(year)
    dfyear = pd.read_csv(path+year+'.csv')
    df = pd.concat([df, dfyear], axis=0, ignore_index=True)

In [2]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0

Chatgpt is going to help me with this.
Here's a function that tells us the year for each row.

In [3]:
df['year'] = df['basho'].astype(str).str.split('.').str[0].astype(int)

In [4]:
# Sort by year.
df = df.sort_values(by=['year'])

# Find the first appearance year for each rikishi1_id.
first_appearance = df.groupby('rikishi1_id')['year'].transform('min')

# Calculate years since first appearance (inclusive).
df['rikishi1_years_in_sumo'] = df['year'] - first_appearance + 1

In [5]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,year,rikishi1_years_in_sumo
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,1983,1
3663,3663,1983.09,1,4132,J1e,Wakanofuji,0-1 (5-10),0,oshidashi,1337,M13e,Tochitsukasa,1-0 (7-8),1,1983,1
3662,3662,1983.09,1,1337,M13e,Tochitsukasa,1-0 (7-8),1,oshidashi,4132,J1e,Wakanofuji,0-1 (5-10),0,1983,1
3661,3661,1983.09,1,4311,J2e,Hakuryu,0-1 (5-10),0,oshidashi,4118,J1w,Amanoyama,1-0 (11-4),1,1983,1
3660,3660,1983.09,1,4118,J1w,Amanoyama,1-0 (11-4),1,oshidashi,4311,J2e,Hakuryu,0-1 (5-10),0,1983,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211457,1659,2019.03,10,12291,M8e,Asanoyama,7-3 (7-8),1,hatakikomi,12051,M15e,Ishiura,6-4 (6-9),0,2019,3
211456,1658,2019.03,10,12051,M15e,Ishiura,6-4 (6-9),0,hatakikomi,12291,M8e,Asanoyama,7-3 (7-8),1,2019,6
211455,1657,2019.03,10,6491,M9w,Ikioi,1-9 (2-13),0,yorikiri,5967,M12w,Yoshikaze,7-3 (10-5),1,2019,10
211462,1664,2019.03,10,11728,M7w,Takarafuji,4-6 (8-7),0,tsukiotoshi,11934,M5e,Chiyotairyu,6-4 (8-7),1,2019,10
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,2019,5

Let's sort the the rows again so we can be back to where we started.

In [6]:
df = df.sort_values(by=['year','index'])

df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,year,rikishi1_years_in_sumo
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,1983,1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,1983,1
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1983,1
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,1983,1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,1983,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0,2019,5
214784,4986,2019.09,15,6468,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0,2019,14
214785,4987,2019.09,15,6599,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1,2019,13
214786,4988,2019.09,16,12191,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1,2019,4
214787,4989,2019.09,16,12210,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,2019,5

To get the features in an order that makes more sense, let's put our new column right after rikishi1_id. (We can leave year at the end.)

In [7]:
features = df.columns
features

Index(['index', 'basho', 'day', 'rikishi1_id', 'rikishi1_rank',
       'rikishi1_shikona', 'rikishi1_result', 'rikishi1_win', 'kimarite',
       'rikishi2_id', 'rikishi2_rank', 'rikishi2_shikona', 'rikishi2_result',
       'rikishi2_win', 'year', 'rikishi1_years_in_sumo'],
      dtype='object')

In [8]:
new_order = ['index', 'basho', 'day', 'rikishi1_id', 'rikishi1_years_in_sumo', 'rikishi1_rank',
       'rikishi1_shikona', 'rikishi1_result', 'rikishi1_win', 'kimarite',
       'rikishi2_id', 'rikishi2_rank', 'rikishi2_shikona', 'rikishi2_result',
       'rikishi2_win', 'year']
df = df[new_order]

In [9]:
df

,index,basho,day,rikishi1_id,rikishi1_years_in_sumo,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,year
0,0,1983.01,1,4140,1,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,1983
1,1,1983.01,1,4306,1,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,1983
2,2,1983.01,1,1337,1,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1983
3,3,1983.01,1,4323,1,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,1983
4,4,1983.01,1,4097,1,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,5,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0,2019
214784,4986,2019.09,15,6468,14,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0,2019
214785,4987,2019.09,15,6599,13,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1,2019
214786,4988,2019.09,16,12191,4,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1,2019
214787,4989,2019.09,16,12210,5,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,2019

It looks like it worked!

Now let's do it again for rikishi2.

In [10]:
# Sort by rikishi2_id and year.
df = df.sort_values(by=['year'])

# Find the first appearance year for each rikishi2_id.
first_appearance = df.groupby('rikishi2_id')['year'].transform('min')

# Calculate years since first appearance (inclusive)
df['rikishi2_years_in_sumo'] = df['year'] - first_appearance + 1

In [11]:
df = df.sort_values(by=['year','index'])

df

,index,basho,day,rikishi1_id,rikishi1_years_in_sumo,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,year,rikishi2_years_in_sumo
0,0,1983.01,1,4140,1,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,1983,1
1,1,1983.01,1,4306,1,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,1983,1
2,2,1983.01,1,1337,1,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1983,1
3,3,1983.01,1,4323,1,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,1983,1
4,4,1983.01,1,4097,1,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,1983,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,12210,5,S1e,Mitakeumi,12-3,1,yorikiri,12055,K1w,Endo,8-7,0,2019,7
214784,4986,2019.09,15,6468,14,O1w,Goeido,10-5,1,yorikiri,6599,O2e,Tochinoshin,6-9,0,2019,13
214785,4987,2019.09,15,6599,13,O2e,Tochinoshin,6-9,0,yorikiri,6468,O1w,Goeido,10-5,1,2019,14
214786,4988,2019.09,16,12191,4,S1w,Takakeisho,(12-3),0,yorikiri,12210,S1e,Mitakeumi,(12-3),1,2019,5
214787,4989,2019.09,16,12210,5,S1e,Mitakeumi,(12-3),1,yorikiri,12191,S1w,Takakeisho,(12-3),0,2019,4

In [15]:
new_order = ['index', 'basho', 'day', 'year', 'rikishi1_id', 'rikishi1_years_in_sumo', 'rikishi1_rank',
       'rikishi1_shikona', 'rikishi1_result', 'rikishi1_win', 'kimarite',
       'rikishi2_id', 'rikishi2_years_in_sumo', 'rikishi2_rank', 'rikishi2_shikona', 'rikishi2_result',
       'rikishi2_win']
df = df[new_order]

In [16]:
df

,index,basho,day,year,rikishi1_id,rikishi1_years_in_sumo,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_years_in_sumo,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,0,1983.01,1,1983,4140,1,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,1,Ms1e,Ofuji,1-0 (6-1),1
1,1,1983.01,1,1983,4306,1,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,1,J13w,Chikubayama,0-1 (7-8),0
2,2,1983.01,1,1983,1337,1,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,1,J13e,Shiraiwa,0-1 (3-12),0
3,3,1983.01,1,1983,4323,1,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,1,J12w,Tochitsukasa,1-0 (9-6),1
4,4,1983.01,1,1983,4097,1,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,1,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214783,4985,2019.09,15,2019,12210,5,S1e,Mitakeumi,12-3,1,yorikiri,12055,7,K1w,Endo,8-7,0
214784,4986,2019.09,15,2019,6468,14,O1w,Goeido,10-5,1,yorikiri,6599,13,O2e,Tochinoshin,6-9,0
214785,4987,2019.09,15,2019,6599,13,O2e,Tochinoshin,6-9,0,yorikiri,6468,14,O1w,Goeido,10-5,1
214786,4988,2019.09,16,2019,12191,4,S1w,Takakeisho,(12-3),0,yorikiri,12210,5,S1e,Mitakeumi,(12-3),1
214787,4989,2019.09,16,2019,12210,5,S1e,Mitakeumi,(12-3),1,yorikiri,12191,4,S1w,Takakeisho,(12-3),0

Let's do a sanity check.

In [36]:
for row_number in range(107394):
    if df.iloc[2*(row_number)]['rikishi1_years_in_sumo'] != df.iloc[2*(row_number)+1]['rikishi2_years_in_sumo']:
        print('Uh oh! Something went wrong!')

Great! It works! :)