First, we'll make a pandas dataframe. Let's just use the 1983 data for now. Since I know how to concatenate data frames now, we can deal the rest of the data later.

In [1]:
import pandas as pd
import numpy as np
import re

#Add the path to the folder that contains the data. Makes it easier for each of us to use the notebook
#path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/"
path = "/Users/es/Projects/erdo/sumo/Erdos-Institute-Fall-2024-Project-Sumo/data/"

df1983 = pd.read_csv(path+str(1983)+'.csv')
df1984 = pd.read_csv(path+str(1984)+'.csv')

In [2]:
df1983

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,1983.11,15,4104,Y1e,Takanosato,13-2,0,yorikiri,1354,Y1w,Chiyonofuji,14-1,1
5484,5484,1983.11,16,1348,J4w,Jingaku,(11-4),0,sotogake,1378,J1w,Hoo,(11-4),1
5485,5485,1983.11,16,1378,J1w,Hoo,(11-4),1,sotogake,1348,J4w,Jingaku,(11-4),0
5486,5486,1983.11,16,1287,J12w,Konishiki,(11-4),0,yorikiri,1378,J1w,Hoo,(11-4),1
5487,5487,1983.11,16,1378,J1w,Hoo,(11-4),1,yorikiri,1287,J12w,Konishiki,(11-4),0

Here's a function that tells us actual rank given a row of the data frame above. This is just a prototype to figure out what's going wrong.

In [3]:
def nonsumorank(row):
    string1 = 'Ms1e'
    if row['rikishi1_rank'] == string1:
        return 0
    else:
        return 1

In [4]:
df1983['rikishi1_nonsumorank'] = df1983.apply(nonsumorank, axis=1)

In [5]:
df1983

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_nonsumorank
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,1
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,1983.11,15,4104,Y1e,Takanosato,13-2,0,yorikiri,1354,Y1w,Chiyonofuji,14-1,1,1
5484,5484,1983.11,16,1348,J4w,Jingaku,(11-4),0,sotogake,1378,J1w,Hoo,(11-4),1,1
5485,5485,1983.11,16,1378,J1w,Hoo,(11-4),1,sotogake,1348,J4w,Jingaku,(11-4),0,1
5486,5486,1983.11,16,1287,J12w,Konishiki,(11-4),0,yorikiri,1378,J1w,Hoo,(11-4),1,1
5487,5487,1983.11,16,1378,J1w,Hoo,(11-4),1,yorikiri,1287,J12w,Konishiki,(11-4),0,1

In [9]:
#Yokozuna (Y) > Ozeki (O) > Sekiwake (S) > Komusubi (K) > Maegashira (M) > Juryo (J) > Makushita (Ms)
#Y > O > S > K > M > J > Ms
#Turning the rankings into unique(?) numbers
#Assigning value 1-7 for the division
#Padding the single digit ranks with zeros so it sorts correctly : 1->01
#Assining values for ('w','e','(e/w)HD')
x = df1983['rikishi1_rank'].unique()
print(x)
rank_dict = {}
div = {'Y':'1', 'O':'2', 'S':'3', 'K':'4', 'M':'5', 'J':'6', 'Ms':'7'}
car = {'e':'1', 'w':'2', 'eHD':'3', 'wHD':'4'}
for key in x:
    value = re.split(r'(\d+)', key)
    value[0] = div[value[0]]
    value[1] = value[1].zfill(2)
    value[2] = car[value[2]]
    value=''.join(value)
    x_pad.append(value)
    x_dict[key] = value

print(x_dict)

['J13w' 'Ms1e' 'J12w' 'J13e' 'J12e' 'J11w' 'J10w' 'J11e' 'J10e' 'J9w'
 'J9e' 'J8w' 'J8e' 'J7w' 'J6w' 'J7e' 'J6e' 'J5w' 'J4w' 'J5e' 'J3w' 'J4e'
 'J2w' 'J3e' 'J2e' 'J1w' 'J1e' 'M14w' 'M14e' 'M13w' 'M13e' 'M12w' 'M11w'
 'M12e' 'M11e' 'M10w' 'M9w' 'M10e' 'M9e' 'M8w' 'M8e' 'M7w' 'M7e' 'M6w'
 'M6e' 'M4w' 'M3e' 'M4e' 'M2e' 'M2w' 'M1w' 'S1w' 'M1e' 'O2wHD' 'S1e' 'O1w'
 'M5w' 'O1e' 'Y2eHD' 'K1e' 'M5e' 'Y1w' 'Y1e' 'K1w' 'Ms1w' 'Ms2e' 'Ms3e'
 'Ms3wHD' 'Ms3w' 'Ms4w' 'Ms2w' 'M3w' 'O2eHD' 'Ms4e' 'Ms5e' 'Ms6w' 'Ms5w'
 'Ms7w' 'Ms6e' 'Ms8e' 'Ms10w' 'Ms7e' 'M9eHD' 'O3eHD' 'Ms14e']
{'J13w': '6132', 'Ms1e': '7011', 'J12w': '6122', 'J13e': '6131', 'J12e': '6121', 'J11w': '6112', 'J10w': '6102', 'J11e': '6111', 'J10e': '6101', 'J9w': '6092', 'J9e': '6091', 'J8w': '6082', 'J8e': '6081', 'J7w': '6072', 'J6w': '6062', 'J7e': '6071', 'J6e': '6061', 'J5w': '6052', 'J4w': '6042', 'J5e': '6051', 'J3w': '6032', 'J4e': '6041', 'J2w': '6022', 'J3e': '6031', 'J2e': '6021', 'J1w': '6012', 'J1e': '6011', 'M14w': '5142', 'M14e': '5141', 'M13w': '5132', 'M13e': '5131', 'M12w': '5122', 'M11w': '5112', 'M12e': '5121', 'M11e': '5111', 'M10w': '5102', 'M9w': '5092', 'M10e': '5101', 'M9e': '5091', 'M8w': '5082', 'M8e': '5081', 'M7w': '5072', 'M7e': '5071', 'M6w': '5062', 'M6e': '5061', 'M4w': '5042', 'M3e': '5031', 'M4e': '5041', 'M2e': '5021', 'M2w': '5022', 'M1w': '5012', 'S1w': '3012', 'M1e': '5011', 'O2wHD': '2024', 'S1e': '3011', 'O1w': '2012', 'M5w': '5052', 'O1e': '2011', 'Y2eHD': '1023', 'K1e': '4011', 'M5e': '5051', 'Y1w': '1012', 'Y1e': '1011', 'K1w': '4012', 'Ms1w': '7012', 'Ms2e': '7021', 'Ms3e': '7031', 'Ms3wHD': '7034', 'Ms3w': '7032', 'Ms4w': '7042', 'Ms2w': '7022', 'M3w': '5032', 'O2eHD': '2023', 'Ms4e': '7041', 'Ms5e': '7051', 'Ms6w': '7062', 'Ms5w': '7052', 'Ms7w': '7072', 'Ms6e': '7061', 'Ms8e': '7081', 'Ms10w': '7102', 'Ms7e': '7071', 'M9eHD': '5093', 'O3eHD': '2033', 'Ms14e': '7141'}
None
['1011', '1012', '1023', '2011', '2012', '2023', '2024', '2033', '3011', '3012', '4011', '4012', '5011', '5012', '5021', '5022', '5031', '5032', '5041', '5042', '5051', '5052', '5061', '5062', '5071', '5072', '5081', '5082', '5091', '5092', '5093', '5101', '5102', '5111', '5112', '5121', '5122', '5131', '5132', '5141', '5142', '6011', '6012', '6021', '6022', '6031', '6032', '6041', '6042', '6051', '6052', '6061', '6062', '6071', '6072', '6081', '6082', '6091', '6092', '6101', '6102', '6111', '6112', '6121', '6122', '6131', '6132', '7011', '7012', '7021', '7022', '7031', '7032', '7034', '7041', '7042', '7051', '7052', '7061', '7062', '7071', '7072', '7081', '7102', '7141']